body {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000;
}

.cursor-dot {
  width: 0.5vw;
  height: 0.5vw;
  background-color: #dc5656;
}

.cursor-dot-outline {
  width: 3vw;
  height: 3vw;
  background-color: rgba(229, 128, 122, 0.5);
}

/*making cursor to default for mobile view*/
@media (max-width: 766px) {
  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }
  body {
    cursor: default;
  }
}
