@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #aaa;
}

::-webkit-scrollbar-track {
  background: #464646;
}

::-webkit-scrollbar-corner {
  border-radius: 25px;
}

.nav-link {
  position: relative;
  transition: all ease-in 0.3s;
}

.nav-link::after,
.line {
  position: absolute;
  content: "";
  height: 2.75px;
  background-color: #ff0000;
  bottom: -4px;

  border-radius: 20px;
}

.nav-link::after {
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

.line {
  width: 70%;
}

.light-glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dark-glass {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.075),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

.overlay {
  /* background: linear-gradient(to right,rgba(0,0,0, 0.6) 60%,  transparent 40%) */
  background: rgba(0, 0, 0, 0.075);
}

.text-shadow {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.731);
}

.watch-trailer--dark,
.view-all-btn--dark,
.genre--dark {
  box-shadow: inset 0 0 0 1px #fff;
}
.watch-trailer--light,
.view-all-btn--light,
.genre--light {
  box-shadow: inset 0 0 0 1px black;
}

.modal {
  transform: translate(-50%, -50%) !important;
}

.header-bg--dark{
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header-bg--light{
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


